main{
    min-height: 80vh;
}

h1{
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2{
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3{
    padding: .6rem .6rem .6rem 0rem ;
}

h6{
    padding-top: 5px;
    text-align: center;
}

.rating span{
    margin: 0.1rem;
}

.nav-item{
    margin-right: 0px;
}
.carousel a {
    margin: 0 auto;
}

.clamp{
    max-width: 100%;
    max-height: 100%;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow:hidden;
    text-overflow: ellipsis;
    max-height: min-content;
}
.clamp-2{
    max-width: 100%;
    max-height:min-content;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow:hidden;
    text-overflow: ellipsis;
}



@media(min-width:766px){
.carousel img{
    height: auto;
}
}

@media(max-width:765px){
    .carousel img{
        height: auto;
    }
    .carousel-caption h4{
        font-size: 2.5vw;
    }
    h5, h4{
        font-size:90%;
    }
  
}

.navbar-toogler:focus,
.navbar-toogler:active,
.navbar-toogler-icon:focus{
    outline:none;
    box-shadow:none;
}